body{
	width:100%;
	margin:10px;
}






li {
  list-style: none;
}

.header 
{
  width:100%;
  background-color: #424242;
  color: #fff;
  height: 60px;
  margin:0 auto;
  color:white;

}
.header-list li:hover {
  background-color:  #BDBDBD;
}

.header-logo 
{
  float: left;
  font-size: 36px;
  padding: 15px 30px;
  

}

.header-list li
 {
  float: left;
  padding: 20px 50px;

}

.header-logo1{
	float:right;
	padding: 10px 30px;
	margin-right: 50px;

}

#logo
{
	  padding:10px;
	  
}


.img2
{
	height:700px;
	background-image: url(img5.jpeg);
	background-size: cover;
	padding-bottom:10px;
	background-color: teal;

}

.img1{
	height:700px;
	background-image: url(img8.jpeg);
	background-size: cover;
	padding-bottom:20px;
}
.flex-boxmain{
	display: flex;
	height: 700px;
	flex-wrap: wrap;
	margin-left: 20px;

}
.flex-boxmain li
{
	flex:auto;
}



.para{
	margin-top: 20px;
	padding:30px 30px;
	font-size:15px;
	padding-bottom: 20px;
	border-bottom-style: solid ;
	color:#757575;
	
}
.flex-box{
	display:flex;
}
.box{
	padding:20px;
}
footer{
	margin:  50px;
	color:#b3aeb5;
	font-size:12px;

}
.footer-box{
	padding-top: 10px;
	padding-right: 10px;
	padding-left:25px;	
	border-bottom: solid 1px ;
	
	width:1150px;
}
.box{
	color:#757575;
}
#u{
	color:#424242;
}
.leaf-box{
	float: left;
	position: relative;
	padding-left:25px;

}

.usa p{	
	float:right;	
	
	
}
.usa img{
	float: right;
	padding-right: 5px;
}